<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>articles</title>
</head>
<body>
<div th:replace="fragments/headersale :: header"></div>

<th:block th:each="article,stat : ${articles}">
    <form action="#" th:action="@{/public/article/sale/delete}" th:object="${deleteArticle}" method="post">
        <input hidden value="#"
               th:attr="value=${article.id}" th:name="id">
        <p th:text="${article.title}"></p>
        <span th:text="${article.content}"></span>
        <span th:text="${article.userDTO.name}"></span>
        <span th:text="${article.id}"></span>
        <div>
            <a href="#" th:href="@{/public/article/sale/more(article=${article.id})}">More...</a>
        </div>
        <button type="submit">Delete this article</button>
    </form>
</th:block>

<div>
    <form action="#" th:action="@{/public/article/sale/new}" method="post">
        <button type="submit">Add Article</button>
    </form>
</div>

<div class="pagination">
    <ul class="pagination">
        <li class="page-item" th:each="currentPage : ${#numbers.sequence( 1,numberPage)}">
            <a class="page-link" href="#" th:href="@{/public/article/sale(currentPage=${currentPage})}"
               th:text="${currentPage}"> </a>
        </li>
    </ul>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
