<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>

</head>
<body>
<div th:replace="fragments/headeradministrator :: header"></div>

<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">SURNAME</th>
        <th scope="col">PATRONYMIC</th>
        <th scope="col">REVIEW</th>
        <th scope="col">DATE</th>
        <th scope="col">SHOWING</th>
        <th scope="col">CHOOSE SHOWING</th>
        <th scope="col">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <form id="show-review" action="#" th:action="@{/private/review/showing}" th:object="${reviews}" method="post">
        <tr th:each="review,itemStat : ${reviews.reviewList}">
            <td th:text="${itemStat.count}"></td>
            <td th:text="${review.userDTO.name}"></td>
            <td th:text="${review.userDTO.surname}"></td>
            <td th:text="${review.userDTO.patronymic}"></td>
            <td th:text="${review.review}"></td>
            <td th:text="${review.creatingDate}"></td>
            <td th:text="${review.creatingDate}"></td>
            <td>
                <input form="show-review" hidden value="#" th:field="*{reviewList[__${itemStat.index}__].id}"
                       th:value="${review.id}">
                <input form="show-review" type="checkbox"
                       th:field="*{reviewList[__${itemStat.index}__].showing}">
            </td>
            <td>
                <form action="#" th:action="@{/private/review/delete}" method="post">
                    <input hidden value="#"
                           th:attr="value=${review.id}" th:name="id">
                    <button type="submit">DELETE THIS REVIEW</button>
                </form>
            </td>
        </tr>
        <button form="show-review" type="submit">DON'T SHOW THIS REVIEWS</button>
    </form>
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        <li class="page-item" th:each="currentPage : ${#numbers.sequence( 1,numberPage)}">
            <a class="page-link" href="#" th:href="@{/private/review(currentPage=${currentPage})}"
               th:text="${currentPage}"> </a>
        </li>
    </ul>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>