<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item</title>
</head>
<body>
<div th:replace="fragments/headercustomer :: header"></div>

<a th:href="@{/public/items/customer}"> Go Back </a>

<h1 th:text="${item.name}"></h1>
<span th:text="${item.uniqueNumber}"></span>
<span th:text="${item.price}"></span>
<span th:text="${item.description}"></span>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
